.container {
    padding-top: 20px;
}
.form {
    display: flex;
    align-items: center;
    border: 1px solid var(--cinza);
    border-radius: 4px;
    overflow: hidden;
    transition: .3s;
    padding: 15px 10px;

}
.icone {
    display: flex;
    align-items: center;
}
.pesquisa {
    flex: 1;
    font-family: inherit;
    font-size: 1rem;
    border: 0px;
}

.pesquisa:focus {
    outline: none;
}
.form:hover,
.form.active {
    border-color: transparent;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}
