.footerContainer {
    display: flex;
    align-items: center;
    background: var(--branco);
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 2px solid var(--cinzaBorda) ;
}
.footer {
    max-width: 1200px;
    flex: 1;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.btn > svg path {
    fill: var(--cinzaEscuro1)
}

.btn.active > svg path {
    fill: var(--vermelho)
}

.btn .text {
    font-size: .85rem;
    color: var(--cinzaEscuro1);
}

.btn.active .text {
    color: var(--vermelho);
}

.itensCarrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: .85rem;
    font-family: 700;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--rosaClaro);
    color: var(--vermelho);
    top: -5px;
    right: 10px;
    animation: animeCart .5s forwards;
}

@keyframes animeCart {
    from {
        opacity: 0;
        transform: translateY(-70%);
    }

    to {
        opacity: 1;
        transform: initial;
    }
}