.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 5px 0;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.container.active {
    max-height: 800px;
}

.cardapioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--cinzaBorda);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.descricao h3 {
    color: var(--cinzaEscuro2);
}

.descricao p {
    color: var(--cinzaEscuro2);
    font-size: .85rem;
}

.descricao span {
    color: var(--vermelhoClaro);
    font-weight: 700;
}

.img {
    border-radius: 5px;
    width: 100px;
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
    }
}
