.container {
    margin-top: 20px;
}
.categoria {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 15px;
    background: #f7f7f7;
    width: 100%;
}

.nomeCategoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nomeCategoria::after {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: url("../assets/icones/seta.svg");
    transition: .3s;
}

.categoria[aria-expanded="true"] .nomeCategoria::after {
    transform: rotate(180deg);
}

.seta {
 transform: rotate(90deg);
}


.categoriaContainer + .categoriaContainer {
    margin-top: 8px;
}